
.inputstyling{
    height : 100%;
    width : 100%;
}

.chatstylingright{
    display:flex;
    margin-top:5px;
    margin-bottom:5px;
    flex-direction: row; 
    /* flex-wrap: nowrap; */
    justify-content: flex-end;
    width : 100%;
}

.chatstylingleft{
    display:flex;
    margin-top:5px;
    margin-bottom:5px;
    flex-direction: row; 
    /* flex-wrap: nowrap; */
    justify-content: flex-start;
    width : 100%;
}

.chatdivstyling{
    width: 100%;
}

.chatstyle{
    word-wrap: break-word;
    max-width:100%;
    border-radius : 7px;
    display : flex;
    flex-direction: column;
}

.chatOwner{
    color : blue;
    opacity : 0.6;
}

.chatContent{
    opacity : 0.8;
}

.chatsheader{
    color : rgb(197, 197, 197);
}

::placeholder {
    font-family : Calibri;
    text-align: center;
    font-size: 150%;
    opacity: 0.3;
}

input{
    border-radius: 10px;
    border: 1px solid rgb(207, 207, 207);
    outline: none;
}

.addscrollbar{
    overflow-y: scroll;
    max-height: 50vh;
}

.enterchatstyling{
    margin-bottom : 20px;
}