.login{
    height : 85vh ;
}


.height1{
    height : 20%;
}

.height2{
    height : 60%;
}

.loginform{
    border-radius: 50px;
    
}

.whitebackground{
    background-color: white;
}


.formstyling{
    margin-top : 7vh;
}

.spacestyling{
    margin : 25px;
}

.buttondivstyling{
    width : 100%;
}

.buttonstyling{
    border: 1px solid #203864 ;
    border-radius:15px;
    color: #203864 ;
    background-color: white;
    width : 100%;
    /* height : 150%; */
    font-family : Calibri;
    font-size:200%;
}

.buttonstyling:hover{
    transition-delay: 0.15s;
    background-color: #203864 ;
    color : white;

}

.buttonstyling:active{
    box-shadow: none;
    background-color: #203864 ;
    color : white;

}

.buttonstyling:focus{
    box-shadow: none;

}

.togglescreenoptionstyling{
    font-size: 15px;
    text-align: center;
}


::placeholder {
    font-family : Calibri;
    text-align: center;
    font-size: 200%;
    opacity: 0.3;
}

input{
    border : none;
    border-radius: 10px;
    height: 9vh;
}

input:focus {
    border: 1px solid lightblue;
}