<div class="container-fluid backgroundcolor">

  <div class="row">
    <div class="col-lg-2 col-md-2 col-sm-1 col-12"></div>
    <div class="col-lg-8 col-md-8 col-sm-10 col-12 whitebackground">
      <!-- post container  -->
      <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-12"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-12 postcontainer">
          <div class="flex-post-image-container">
            <div><img src="{{postimage}}" alt="" class="contain imagecontainer" /></div>
          </div>
          <div class="flexforbuttons">
            <div>
              <label class="btn editbutton">Upload</label>
              <input type="button" (click)="upload()" style="display: none;">
            </div>
            <div>
              <label for="files" class="btn editbutton">Choose</label>
              <input id="files" accept="image/*" (change)="changeListener($event)" style="display: none;" type="file">
            </div>
          </div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-12"></div>
      </div>


      <!-- your wall -->
      <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-12"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-12">
          <div class="row">
            <div><img src="assets/5.jpg" class="imagestyling" alt="" /></div>
            <div class="display-name-flex">
              <div>Soumyadeep Paul</div>
              <div>25-05-2020 19:20</div>
              <div>This is a sample caption !! WAoo nicee!!</div>
            </div>
          </div>
          <div class="flex-post-image-container">
            <div><img src="assets/1.jpg" alt="" class="contain imagecontainer"></div>
          </div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-12"></div>
      </div>
      <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-12"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-12">
          <div class="row">
            <div><img src="assets/5.jpg" class="imagestyling" alt="" /></div>
            <div class="display-name-flex">
              <div>Soumyadeep Paul</div>
              <div>25-05-2020 19:20</div>
              <div>This is a sample caption !! WAoo nicee!!</div>
            </div>
          </div>
          <div class="flex-post-image-container">
            <div><img src="assets/1.jpg" alt="" class="contain imagecontainer"></div>
          </div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-12"></div>
      </div>
      <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-12"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-12">
          <div class="row">
            <div><img src="assets/5.jpg" class="imagestyling" alt="" /></div>
            <div class="display-name-flex">
              <div>Soumyadeep Paul</div>
              <div>25-05-2020 19:20</div>
              <div>This is a sample caption !! WAoo nicee!!</div>
            </div>
          </div>
          <div class="flex-post-image-container">
            <div><img src="assets/1.jpg" alt="" class="contain imagecontainer"></div>
          </div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-12"></div>
      </div>



    </div>
    <div class="col-lg-2 col-md-2 col-sm-1 col-12"></div>
  </div>

</div>