<div class="container-fluid menubarfixedposition fixed-top">
  <div class="row menubarstyling backgroundcolor bottomborder">
    <div class="col-lg-2 col-md-4 col-sm-4 col-12">
      <div class="menustyling">Dashboard</div> 
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-12">
        <div class="menustyling">Recents</div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-12">
        <div class="menustyling">Profile</div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-12">
        <div class="menustyling">Friends</div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-12">
        <div class="menustyling">Emergency</div>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-4 col-12">
        <div class="menustyling">News&Alerts</div>
    </div>
  </div>
</div>