.imagesizing{
    width : 70vw;
}

.imageheightwidth{
    max-width: 100%;
}

.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.flex-image-container{
    display: flex;
    justify-content: center;
}