<div class="container-fluid backgroundcolor">
  <div class="row">
    <div class="col-lg-2 col-md-2 col-sm-1 col-12"></div>
    <div class="col-lg-8 col-md-8 col-sm-10 col-12 whitebackground">
      
      <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-12"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-12 imagesizing">
          <div class="">
            Soumyadeep Paul   25-05-2020 19:20
          </div>
          <div class="flex-image-container"><img src="assets/1.jpg" class="contain imageheightwidth" alt=""/></div>
          <div>Like Comment &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 100 Likes and 26 Comments</div>
          <div class="flex-container backgroundcolor">................</div>
          <div class="flex-container backgroundcolor">asudygdsvdsdssdjdshjd</div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-12"></div>
      </div>

      <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-12"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-12 imagesizing">
          <div class="">
            Soumyadeep Paul   25-05-2020 19:20
          </div>
          <div class="flex-image-container"><img src="assets/2.jpg" class="contain imageheightwidth" alt=""/></div>
          <div>Like Comment &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 100 Likes and 26 Comments</div>
          <div class="flex-container backgroundcolor">................</div>
          <div class="flex-container backgroundcolor">asudygdsvdsdssdjdshjd</div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-12"></div>
      </div>

      <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-12"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-12 imagesizing">
          <div class="">
            Soumyadeep Paul   25-05-2020 19:20
          </div>
          <div class="flex-image-container"><img src="assets/3.PNG" class="contain imageheightwidth" alt=""/></div>
          <div>Like Comment &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 100 Likes and 26 Comments</div>
          <div class="flex-container backgroundcolor">................</div>
          <div class="flex-container backgroundcolor">asudygdsvdsdssdjdshjd</div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-12"></div>
      </div>

      <div class="row">
          <div class="col-lg-1 col-md-1 col-sm-1 col-12"></div>
          <div class="col-lg-10 col-md-10 col-sm-10 col-12 imagesizing">
            <div class="">
              Soumyadeep Paul   25-05-2020 19:20
            </div>
            <div class="flex-image-container"><img src="assets/4.PNG" class="contain imageheightwidth" alt=""/></div>
            <div>Like Comment &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 100 Likes and 26 Comments</div>
            <div class="flex-container backgroundcolor">................</div>
            <div class="flex-container backgroundcolor">asudygdsvdsdssdjdshjd</div>
          </div>
          <div class="col-lg-1 col-md-1 col-sm-1 col-12"></div>
        </div>



    </div>
    <div class="col-lg-2 col-md-2 col-sm-1 col-12"></div>
  </div>
</div>