.imagesizing{
    width : 70vw;
}

.imageheightwidth{
    max-width: 100%;
}

.flex-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.flex-image-container{
    display: flex;
    justify-content: center;
}

.commentbutton:focus{
    box-shadow: none;
}

.likebutton:active{
    color: red;
}

.likebutton:visited{
    color: red;
}

.btn:focus{
    box-shadow: none;
}

.commentdivstyling{
}

.inputstyling{
    height : 100%;
    width : 100%;
}