<div class="container-fluid backgroundcolor topposition">
  <div class="row">
    <div class="col-lg-2 col-md-2 col-sm-1 col-12"></div>
    <div class="col-lg-8 col-md-8 col-sm-10 col-12 whitebackground">
      


      <div class="row space1">
        <div class="col-lg-1 col-md-1 col-sm-1 col-1"></div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-10 imagesizing">
          <div class="row">
            <!-- <div class="col-lg-2 col-md-2 col-sm-2 col-2 profileimagestyling"> -->
              <div><img src="assets/5.jpg" class="imagestyling" alt=""/></div>
            <!-- </div> -->
            <!-- <div class="col-lg-10 col-md-10 col-sm-10 col-10"> -->
              <div class="display-name-flex">
                <div>Soumyadeep Paul</div>    
                <div>25-05-2020 19:20</div>
              </div>
            <!-- </div> -->
          </div>
          <div class="flex-image-container space2"><img src="assets/1.jpg" class="contain imageheightwidth" alt=""/></div>
          <div class="row space3">
            <div class="flex-container-left col-lg-3 col-md-3 col-sm-12 col-12">
                <button class="btn textstyling"> <i class="far fa-thumbs-up likebutton"></i> </button>
                <button class="commentbutton btn textstyling" data-toggle="modal" data-target="#commentModalCenter">Comment</button>  
            </div>
            <div class="flex-container-right col-lg-9 col-md-9 col-sm-12 col-12 textstyling">
                100 Likes and 26 Comments
            </div>
            
          </div>
          <!-- <div class="flex-container backgroundcolor">................</div>
          <div class="flex-container backgroundcolor">asudygdsvdsdssdjdshjd</div> -->
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-1"></div>
      </div>
      


      <div class="row space1">
          <div class="col-lg-1 col-md-1 col-sm-1 col-1"></div>
          <div class="col-lg-10 col-md-10 col-sm-10 col-10 imagesizing">
            <div class="row">
              <!-- <div class="col-lg-2 col-md-2 col-sm-2 col-2 profileimagestyling"> -->
                <div><img src="assets/5.jpg" class="imagestyling" alt=""/></div>
              <!-- </div> -->
              <!-- <div class="col-lg-10 col-md-10 col-sm-10 col-10"> -->
                <div class="display-name-flex">
                  <div>Soumyadeep Paul</div>    
                  <div>25-05-2020 19:20</div>
                </div>
              <!-- </div> -->
            </div>
            <div class="flex-image-container space2"><img src="assets/2.jpg" class="contain imageheightwidth" alt=""/></div>
            <div class="row space3">
              <div class="flex-container-left col-lg-3 col-md-3 col-sm-12 col-12">
                  <button class="btn textstyling"> <i class="far fa-thumbs-up likebutton"></i> </button>
                  <button class="commentbutton btn textstyling" data-toggle="modal" data-target="#commentModalCenter">Comment</button>  
              </div>
              <div class="flex-container-right col-lg-9 col-md-9 col-sm-12 col-12 textstyling">
                  100 Likes and 26 Comments
              </div>
              
            </div>
            <!-- <div class="flex-container backgroundcolor">................</div>
            <div class="flex-container backgroundcolor">asudygdsvdsdssdjdshjd</div> -->
          </div>
          <div class="col-lg-1 col-md-1 col-sm-1 col-1"></div>
        </div>
      

        <div class="row space1">
            <div class="col-lg-1 col-md-1 col-sm-1 col-1"></div>
            <div class="col-lg-10 col-md-10 col-sm-10 col-10 imagesizing">
              <div class="row">
                <!-- <div class="col-lg-2 col-md-2 col-sm-2 col-2 profileimagestyling"> -->
                  <div><img src="assets/5.jpg" class="imagestyling" alt=""/></div>
                <!-- </div> -->
                <!-- <div class="col-lg-10 col-md-10 col-sm-10 col-10"> -->
                  <div class="display-name-flex">
                    <div>Soumyadeep Paul</div>    
                    <div>25-05-2020 19:20</div>
                  </div>
                <!-- </div> -->
              </div>
              <div class="flex-image-container space2"><img src="assets/3.jpg" class="contain imageheightwidth" alt=""/></div>
              <div class="row space3">
                <div class="flex-container-left col-lg-3 col-md-3 col-sm-12 col-12">
                    <button class="btn textstyling"> <i class="far fa-thumbs-up likebutton"></i> </button>
                    <button class="commentbutton btn textstyling" data-toggle="modal" data-target="#commentModalCenter">Comment</button>  
                </div>
                <div class="flex-container-right col-lg-9 col-md-9 col-sm-12 col-12 textstyling">
                    100 Likes and 26 Comments
                </div>
                
              </div>
              <!-- <div class="flex-container backgroundcolor">................</div>
              <div class="flex-container backgroundcolor">asudygdsvdsdssdjdshjd</div> -->
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-1"></div>
          </div>




          <div class="row space1">
              <div class="col-lg-1 col-md-1 col-sm-1 col-1"></div>
              <div class="col-lg-10 col-md-10 col-sm-10 col-10 imagesizing">
                <div class="row">
                  <!-- <div class="col-lg-2 col-md-2 col-sm-2 col-2 profileimagestyling"> -->
                    <div><img src="assets/5.jpg" class="imagestyling" alt=""/></div>
                  <!-- </div> -->
                  <!-- <div class="col-lg-10 col-md-10 col-sm-10 col-10"> -->
                    <div class="display-name-flex">
                      <div>Soumyadeep Paul</div>    
                      <div>25-05-2020 19:20</div>
                    </div>
                  <!-- </div> -->
                </div>
                <div class="flex-image-container space2"><img src="assets/digisocial.PNG" class="contain imageheightwidth" alt=""/></div>
                <div class="row space3">
                  <div class="flex-container-left col-lg-3 col-md-3 col-sm-12 col-12">
                      <button class="btn textstyling"> <i class="far fa-thumbs-up likebutton"></i> </button>
                      <button class="commentbutton btn textstyling" data-toggle="modal" data-target="#commentModalCenter">Comment</button>  
                  </div>
                  <div class="flex-container-right col-lg-9 col-md-9 col-sm-12 col-12 textstyling">
                      100 Likes and 26 Comments
                  </div>
                  
                </div>
                <!-- <div class="flex-container backgroundcolor">................</div>
                <div class="flex-container backgroundcolor">asudygdsvdsdssdjdshjd</div> -->
              </div>
              <div class="col-lg-1 col-md-1 col-sm-1 col-1"></div>
            </div>





            <div class="row space1">
                <div class="col-lg-1 col-md-1 col-sm-1 col-1"></div>
                <div class="col-lg-10 col-md-10 col-sm-10 col-10 imagesizing">
                  <div class="row">
                    <!-- <div class="col-lg-2 col-md-2 col-sm-2 col-2 profileimagestyling"> -->
                      <div><img src="assets/5.jpg" class="imagestyling" alt=""/></div>
                    <!-- </div> -->
                    <!-- <div class="col-lg-10 col-md-10 col-sm-10 col-10"> -->
                      <div class="display-name-flex">
                        <div>Soumyadeep Paul</div>    
                        <div>25-05-2020 19:20</div>
                      </div>
                    <!-- </div> -->
                  </div>
                  <div class="flex-image-container space2"><img src="assets/3.PNG" class="contain imageheightwidth" alt=""/></div>
                  <div class="row space3">
                    <div class="flex-container-left col-lg-3 col-md-3 col-sm-12 col-12">
                        <button class="btn textstyling"> <i class="far fa-thumbs-up likebutton"></i> </button>
                        <button class="commentbutton btn textstyling" data-toggle="modal" data-target="#commentModalCenter">Comment</button>  
                    </div>
                    <div class="flex-container-right col-lg-9 col-md-9 col-sm-12 col-12 textstyling">
                        100 Likes and 26 Comments
                    </div>
                    
                  </div>
                  <!-- <div class="flex-container backgroundcolor">................</div>
                  <div class="flex-container backgroundcolor">asudygdsvdsdssdjdshjd</div> -->
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-1"></div>
              </div>




              <div class="row space1">
                  <div class="col-lg-1 col-md-1 col-sm-1 col-1"></div>
                  <div class="col-lg-10 col-md-10 col-sm-10 col-10 imagesizing">
                    <div class="row">
                      <!-- <div class="col-lg-2 col-md-2 col-sm-2 col-2 profileimagestyling"> -->
                        <div><img src="assets/5.jpg" class="imagestyling" alt=""/></div>
                      <!-- </div> -->
                      <!-- <div class="col-lg-10 col-md-10 col-sm-10 col-10"> -->
                        <div class="display-name-flex">
                          <div>Soumyadeep Paul</div>    
                          <div>25-05-2020 19:20</div>
                        </div>
                      <!-- </div> -->
                    </div>
                    <div class="flex-image-container space2"><img src="assets/4.PNG" class="contain imageheightwidth" alt=""/></div>
                    <div class="row space3">
                      <div class="flex-container-left col-lg-3 col-md-3 col-sm-12 col-12">
                          <button class="btn textstyling"> <i class="far fa-thumbs-up likebutton"></i> </button>
                          <button class="commentbutton btn textstyling" data-toggle="modal" data-target="#commentModalCenter">Comment</button>  
                      </div>
                      <div class="flex-container-right col-lg-9 col-md-9 col-sm-12 col-12 textstyling">
                          100 Likes and 26 Comments
                      </div>
                      
                    </div>
                    <!-- <div class="flex-container backgroundcolor">................</div>
                    <div class="flex-container backgroundcolor">asudygdsvdsdssdjdshjd</div> -->
                  </div>
                  <div class="col-lg-1 col-md-1 col-sm-1 col-1"></div>
                </div>






    </div>
    <div class="col-lg-2 col-md-2 col-sm-1 col-12"></div>
  </div>
</div>




<!-- Modal -->
<div class="modal fade" id="commentModalCenter" tabindex="-1" role="dialog" aria-labelledby="commentModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="commentsheader">Comments : </h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <!-- Comment here -->
          <div class="row entercommentstyling">
            <div class="col-lg-11 col-md-11 col-sm-11 col-11 commentdivstyling">
                <input type="text" class="inputstyling" placeholder="Enter your comment here!"/>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-1 btn">
              <i class="fas fa-paper-plane sendbutton"></i>
            </div>
          </div>

          <div class="row addscrollbar">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 commentdivstyling">
                  <div class="commentstylingright"> <div class="commentstyle backgroundcolor">hvascsvcdcdshjc</div>  </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 commentdivstyling">
                <div class="commentstylingleft"> <div class="commentstyle backgroundcolor">hvascsvfgdfafgareahadfbrbwqfsbasbvsaabsababasfbabfdbasfbasfbabafbsafbsafbsfbabsfbfbsbsssgcdcdshjc</div> </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 commentdivstyling">
                  <div class="commentstylingright"> <div class="commentstyle backgroundcolor">hvascsvcsfbsfbsfbsfdbsdcdshjc</div> </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 commentdivstyling">
                <div class="commentstylingright"> <div class="commentstyle backgroundcolor">hvascsvcdcsfbsfbsfddshjc</div> </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 commentdivstyling">
                    <div class="commentstylingleft"> <div class="commentstyle backgroundcolor">hvascsvcsbsfbfsbsfbsafbsfddcdshjc</div> </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 commentdivstyling">
                <div class="commentstylingright"> <div class="commentstyle backgroundcolor">hvascsvcdcdshjc</div>  </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 commentdivstyling">
                <div class="commentstylingleft"> <div class="commentstyle backgroundcolor">hvascsvfgdfafgareahadfbrbwqfsbasbvsaabsababasfbabfdbasfbasfbabafbsafbsafbsfbabsfbfbsbsssgcdcdshjc</div> </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 commentdivstyling">
                  <div class="commentstylingright"> <div class="commentstyle backgroundcolor">hvascsvcsfbsfbsfbsfdbsdcdshjc</div> </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 commentdivstyling">
                <div class="commentstylingright"> <div class="commentstyle backgroundcolor">hvascsvcdcsfbsfbsfddshjc</div> </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 commentdivstyling">
                    <div class="commentstylingleft"> <div class="commentstyle backgroundcolor">hvascsvcsbsfbfsbsfbsafbsfddcdshjc</div> </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 commentdivstyling">
                <div class="commentstylingright"> <div class="commentstyle backgroundcolor">hvascsvcdcdshjc</div>  </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 commentdivstyling">
                <div class="commentstylingleft"> <div class="commentstyle backgroundcolor">hvascsvfgdfafgareahadfbrbwqfsbasbvsaabsababasfbabfdbasfbasfbabafbsafbsafbsfbabsfbfbsbsssgcdcdshjc</div> </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 commentdivstyling">
                  <div class="commentstylingright"> <div class="commentstyle backgroundcolor">hvascsvcsfbsfbsfbsfdbsdcdshjc</div> </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 commentdivstyling">
                <div class="commentstylingright"> <div class="commentstyle backgroundcolor">hvascsvcdcsfbsfbsfddshjc</div> </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 commentdivstyling">
                    <div class="commentstylingleft"> <div class="commentstyle backgroundcolor">hvascsvcsbsfbfsbsfbsafbsfddcdshjc</div> </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 commentdivstyling">
                <div class="commentstylingright"> <div class="commentstyle backgroundcolor">hvascsvcdcdshjc</div>  </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 commentdivstyling">
                <div class="commentstylingleft"> <div class="commentstyle backgroundcolor">hvascsvfgdfafgareahadfbrbwqfsbasbvsaabsababasfbabfdbasfbasfbabafbsafbsafbsfbabsfbfbsbsssgcdcdshjc</div> </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 commentdivstyling">
                  <div class="commentstylingright"> <div class="commentstyle backgroundcolor">hvascsvcsfbsfbsfbsfdbsdcdshjc</div> </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 commentdivstyling">
                <div class="commentstylingright"> <div class="commentstyle backgroundcolor">hvascsvcdcsfbsfbsfddshjc</div> </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 commentdivstyling">
                    <div class="commentstylingleft"> <div class="commentstyle backgroundcolor">hvascsvcsbsfbfsbsfbsafbsfddcdshjc</div> </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 commentdivstyling">
                <div class="commentstylingright"> <div class="commentstyle backgroundcolor">hvascsvcdcdshjc</div>  </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 commentdivstyling">
                <div class="commentstylingleft"> <div class="commentstyle backgroundcolor">hvascsvfgdfafgareahadfbrbwqfsbasbvsaabsababasfbabfdbasfbasfbabafbsafbsafbsfbabsfbfbsbsssgcdcdshjc</div> </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 commentdivstyling">
                  <div class="commentstylingright"> <div class="commentstyle backgroundcolor">hvascsvcsfbsfbsfbsfdbsdcdshjc</div> </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 commentdivstyling">
                <div class="commentstylingright"> <div class="commentstyle backgroundcolor">hvascsvcdcsfbsfbsfddshjc</div> </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 commentdivstyling">
                    <div class="commentstylingleft"> <div class="commentstyle backgroundcolor">hvascsvcsbsfbfsbsfbsafbsfddcdshjc</div> </div>
            </div>
            
          </div>


        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div> -->
      </div>
    </div>
  </div>