/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~@fortawesome/fontawesome-free/css/all.css";

.colorconv{
    background-color: #203864 ;
}

.backgroundcolor{
    /* background-color: #F9F9F9; */
    background-color: #F1F1F1;
}

.whitebackground{
    background-color: white;
}


.fullwidth{
    width : 98vw;
}
