/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.colorconv{
    background-color: #203864 ;
}

.backgroundcolor{
    background-color: #F9F9F9;
}

.fullwidth{
    width : 98vw;
}
