<div class="container-fluid backgroundcolor">
    <div class="row">
      <div class="col-lg6 col-md-6 col-sm-12 col-12">
  
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-12 col-12"></div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-12">
            <span style="font-size:1000%"> Digi Social </span> 
          </div>
          <div class="col-lg-3 col-md-3 col-sm-12 col-12"></div>
        </div>
  
      </div>
  
  
      <div class="col-lg6 col-md-6 col-sm-12 col-12">
  
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-12 signup">
            <div class="row height1"></div>
            <div class="row height2">
  
              <div class="col-lg-1 col-md-1 col-sm-12 col-12"></div>
              <div class="col-lg-10 col-md-10 col-sm-12 col-12 signupform whitebackground">
  
                <div class="row">
                  <div class="col-lg-1 col-md-1 col-sm-1 col-1"></div>
                  <div class="col-lg-10 col-md-10 col-sm-10 col-10">
  
  
                    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="formstyling">
                        <div class="spacestyling"></div>
                        <div class="form-group">
                            <input type="text" placeholder="Enter your FIrstname" formControlName="firstname" class="form-control backgroundcolor"/>
                        </div>
                        <div class="spacestyling"></div>
                      <div class="form-group">
                          <input type="text" placeholder="Enter your Lastname" formControlName="lastname" class="form-control backgroundcolor"/>
                      </div>
                      <div class="spacestyling"></div>
                      <div class="form-group">
                          <input type="text" placeholder="Choose a Username" formControlName="username" class="form-control backgroundcolor"/>
                      </div>
                      <div class="spacestyling"></div>
                      <div class="form-group">
                          <input type="text" placeholder="Enter your Email Id" formControlName="emailid" class="form-control backgroundcolor"/>
                      </div>
                      <div class="spacestyling"></div>
                      <div class="form-group">
                          <input type="text" placeholder="Enter your Mobilenumber" formControlName="mobilenumber" class="form-control backgroundcolor"/>
                      </div>
                      <div class="spacestyling"></div>
                      <div class="form-group">
                          <input type="text" placeholder="Enter your Date of Birth" formControlName="dateofbirth" class="form-control backgroundcolor"/>
                      </div>
                      <div class="spacestyling"></div>
                      <div class="form-group">
                          <input type="password" placeholder="Enter your password" formControlName="password" class="form-control backgroundcolor" />
                      </div>
                      <div class="spacestyling"></div>
                      <div class="form-group">
                          <input type="password" placeholder="Enter confirm password" formControlName="confirmpassword" class="form-control backgroundcolor" />
                      </div>
                      <div class="spacestyling"></div>
                      <div class="form-group">
                        
                        <div class="row">
                          <div class="col-lg-2 col-md-2 col-sm-1 col-1"></div>
                          <div class="col-lg-8 col-md-8 col-sm-10 col-10 buttondivstyling">
                              <button class="btn  buttonstyling">Signup Now!</button>
                              
                          </div>
                          <div class="col-lg-2 col-md-2 col-sm-1 col-1"></div>
                        </div>
                                           
                      </div>
                  </form>
  
                  
                  <div class="togglescreenoptionstyling">
                      Already have an account?  <a href="authentication/login">Login now!</a>
                  </div>
                  
  
                  </div>
                  <div class="col-lg-1 col-md-1 col-sm-1 col-1"></div>
                </div>
                             
  
  
  
              </div>
              <div class="col-lg-1 col-md-1 col-sm-12 col-12"></div>
  
            </div>
            <div class="row height1"></div>
          </div>
        </div>
  
      </div>
    </div>
  </div>