.imageheightwidth{
    max-width : 100%;
}

.choosefile{
    
}

.flexforbuttons{
    display : flex;
    flex-direction: row;
    flex-wrap: nowrap;
    -ms-flex-item-align: auto;

}

.editbutton{
    height:7vh;
    width:10vw;
    border: 1px solid red;
    font-size: 2vh;
}


.img-container {
    max-width: 100%;
    max-height: 100%;
    /* float: left; */
}

.croppedImageToBeUploadedDivStyling{
    display:none;
}

.profiledetailsunderline{
    padding-bottom: 20px;
    border-bottom: 1px solid lightgrey;
}