.cardfitintodiv{
    max-width: 100%;
}

.imagefitintodiv{
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    margin: auto;
}

.imageheightwidth{
    height: 30vh;
}

.chatbutton{
    color : darkblue;
    border : 1px solid darkblue;
    width: 100%;
}

.chatbutton:hover{
    transition-delay: 0.15s;
    color : white;
    background-color:  darkblue;
}

.chatbutton:active{
    box-shadow: none;
    color : white;
    background-color:  darkblue;
}

.viewprofilebutton{
    color : darkgreen;
    border : 1px solid darkgreen;
    width : 100%;
}

.viewprofilebutton:hover{
    transition-delay: 0.15s;
    color : white;
    background-color:  darkgreen;
}

.viewprofilebutton:active{
    box-shadow: none;
    color : white;
    background-color: darkgreen;
}

.unfriendbutton{
    color : red;
    border : 1px solid red;
    width : 100%;
}

.unfriendbutton:hover{
    transition-delay: 0.15s;
    color : white;
    background-color: red;
}

.unfriendbutton:active{
    box-shadow: none;
    color : white;
    background-color: red;
}




