.logo{
    margin: 0 auto;
    height :100%;
}

.navstyling{
    height :60px;
}

.buttonstyling{
    border: 1px solid white;
    background-color: white;
    border-radius: 3px;
    color: #203864 ;
    font-weight: 700;
    font-size: 120%;
}

