<div>
  <div>
    <input type="text" #searchinput (keypress)="theFriend(searchinput.value)">
  </div>
  <div>

    <div class="row" *ngIf="userData!='null'">
      <div class="col-lg-4 col-md-4 col-sm-6-col-12" *ngFor="let user of userData">
        <div>
          <h3>{{user.username}}</h3>
        </div>

        <div *ngIf="!user.isfriend && (user.friendRequestStatus=='0' 
        || user.friendRequestStatus=='n' || user.friendRequestStatus=='u' 
        || user.friendRequestStatus=='v')">
          <button class="btn btn-primary" (click)="sendFriendRequest(user.username)">Send Request</button>
        </div>
        <div *ngIf="user.isfriend && user.friendRequestStatus=='y'">
          <button class="btn btn-outline-secondary">Already a Friend</button>
        </div>
        <div *ngIf="!user.isfriend && user.friendRequestStatus=='s'">
          <button class="btn btn-outline-success">Friend Request Sent</button>
        </div>

      </div>
    </div>

  </div>
</div>